<table class="chats_app-digital-pipeline-table">
    {% for mac in macros %}
        <tr>
            <td><span class="chats_app-macros">{{ mac.macros }}</span></td>
            <td><span>{{ mac.name }}</span></td>
        </tr>
    {% endfor %}
</table>