<div class="control-waba">
    <div class="control-waba__icon" id="waba_button_control">
        <svg class="svg-icon-waba">
            <image xlink:href="{{ path }}/images/logo_32.svg" src="{{ path }}/images/logo_min.png" width="18" height="18"/>
        </svg>
    </div>
</div>
